@import "../../../shared/styles/globals.scss";
$gold: rgba(201, 201, 201, 0.952);
.card {
 
  &__top {
    display: flex;
    justify-content: space-between;
    @include fontSize($sm);
    padding: 30px;
    &:hover{
      cursor: pointer;
    }
  }
  &__parent {
    height: auto;
    border: 1px solid gray;
    transform: background-color 1s;
    border-left: 1px transparent;
    border-right: 1px transparent;
    &:hover{
      border: 1px solid gray;
    }
  }
  &__details {
    @include fontSize($md);
    padding: 30px;
    &_langs{
      padding: 30px;
      display: grid;
      grid-template-columns: auto auto auto;
      grid-row-gap: 10px;
      // justify-content: space-between;
      &_container{
        display: grid;
        grid-template-columns: 25px auto;
        align-items: center;
        .circle{
          height: 15px;
          width: 15px;
          border-radius: 10px;
        }
        p{
          @include fontSize($sm);
          color: gray;
        }
      }
    }
  }
  &_category{
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    @include fontSize($sm);
    color: black;
    text-transform: uppercase;
  }
  
}
// child one 
// position: absolute;
// /* height: 98vh; */
// right: 0;
// top: 10%;