@import "../../../shared/styles/globals.scss";

#container {
  height: 65px;
  margin-top: 30px;
//   width: 50%;
  overflow: hidden;
  display: flex;
  @include fontSize($sm);
  color: $primary;
  justify-content: flex-start;
//   position: absolute;
//   left: 25%;
//   top: 25%;

}

