@import "../../../shared/styles/globals.scss";
@import '../../../app.component.scss';
@import "../../../shared/styles/button.scss";

.awards{
 
    &_year{
      h2{
        @include fontSize($lg)
      }
    }
    &_details{
      display: grid;
      grid-template-columns: 20% 70%;
      min-height: 10vh;
      height: auto;
      padding-bottom: 7vh;
      margin: 7vh 2.5vw;
      border-bottom: 1px solid $line;
      &_number{
          
          @include fontSize($lg);
          color: $line;
      }
      &_text{
          color: $primary;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: inherit;
          height: 20vh;
          h2{
            @include fontSize($md)
          }
          p{
            @include fontSize($sm)
          }
      }
    }
    &_link{
      @include button($sm);
      width: 55%;
      padding: 0;
       text-decoration: none;
      .mat-icon{
        @include small_icon();
      }
      &:hover{
        color: $selected;
       
        p{
          color: $selected;
        }
      }
    }
  }