<div class="parent" #main_body>
  <div
    (click)="expandSideNav()"
    [ngClass]="!expanded ? 'menu-button' : 'menu-button menu-button_clicked'"
  >
    <mat-icon class="mat-icon">{{
      !expanded ? "chevron_right" : "close"
    }}</mat-icon>
  </div>

  <div [ngClass]="!expanded ? 'side_nav' : 'side_nav side_nav_expanded'">
    <div
      *ngFor="let tab of tabs"
      (click)="scrollTo(tab)"
      [ngClass]="selected == tab ? 'active' : ''"
    >
      <span>{{ tab }}</span>
    </div>
  </div>

  <div #header [ngClass]="'section-header sticky'">
    <p *ngFor="let i of [0, 1, 2, 3, 4, 5, 6]">
      {{ selected.toUpperCase() }}
    </p>
  </div>

  <div #who id="who" class="main_content main_content_left who">
    <!-- right side of the page -->
    <div class="image_component">
      <div class="image">
        <div
          [ngStyle]="{
            'background-image': 'url(' + images[currentImage].src + ')'
          }"
        ></div>
      </div>
      <div class="round_indicators">
        <span *ngFor="let item of images; let i = index">
          <div [ngClass]="currentImage == i ? 'active' : ''"></div>
        </span>
      </div>
    </div>
    <div class="right_component">
      <div class="first_header_container">
        <h2>Hi there, I'm Leon :)</h2>
        <div></div>
      </div>
      <div class="right_component_content right_component_content_intro">
        <span>Full Stack Engineer | XR Enthusiast</span>
        <div [ngClass]="!summary ? 'hidden_text' : 'visible_text'">
          <p>
            I am a very passionate software engineer currently pursuing my
            undergrad at Florida National University while interning at
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://sustainible.io/"
              >Sustainible</a
            >
            as a Full Stack Software Developer. <br />
            <br />Previously, I interned at
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://www.instrument.com/"
              >Instrument(Stagwell)</a
            >
            as a front-end developer. I am enthusiastic about the developer
            community having founded, and currently the president of, the
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://fnutech.org/"
              >FNU tech club</a
            >
            and a
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://githubcampus.expert/leonkoech/"
              >Github Campus Expert</a
            >. I absolutely love Hackathons, inclusivity and trying to get my
            hands dirty with accessibility for the web. I am also an XR
            Enthusiast, having played parts in AR/VR projects in previous
            Hackathons.
          </p>
          <p>
            <br />
            Outside the tech space; I like competitive running, anime, hiking,
            art museums, traveling and interacting with people from different
            cultures (and not in that order).<br />
          </p>
          <p>
            <br />Also, I am open to internship / co-op opportunities for the
            year 2023 :)
          </p>
          <!-- <p><br> <br><i>"Seek freedom, and it will lie stretched out before your eyes."</i></p> -->
          <moving-text [words]="gratitude"></moving-text>
          <!-- with themes of social resistance, adventure and sacred quests.  -->
        </div>
        <div [ngClass]="summary ? 'hidden_text' : 'visible_text'">
          <p>
            Hello, I am Leon Kipkoech, a junior undergraduate at Florida
            National University. I have a strong passion for
            community building and inclusion, and have participated in several
            hackathons to further this goal. I have even traveled to France for
            the Laval Virtual student hackathon.<br>
            <br />
            In addition to my studies, I have completed internships in web
            development at a small startup in Pittsburgh (<a
              target="_blank"
              rel="noopener noreferrer"
              href="https://sustainible.io/"
              >Sustainible</a
            >) and front-end development for Stagwell's
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://www.instrument.com/"
              >Instrument</a
            >. As part of my work at Instrument, I had the opportunity to
            contribute to projects for Microsoft<a
              target="_blank"
              rel="noopener noreferrer"
              href="https://unlocked.microsoft.com"
              >(unlocked.microsoft.com)</a
            >
            and Google<a
              target="_blank"
              rel="noopener noreferrer"
              href="https://design.google.com"
              >(design.google.com)</a
            >.<br>
            <br />
            I am also the
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://fnutech.org/"
              >Tech Club</a
            >
            president at FNU, where I teach introductory computer science
            concepts and serve as a
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://githubcampus.expert/leonkoech/"
              >Github Campus Expert</a
            >.<br>
            <br />
            Outside of my technical pursuits, I enjoy competitive running,
            anime, hiking, visiting museums, and experiencing different cultures
            through travel.<br>
            <br />
          </p>
          <p>I am open to internship and co-op opportunities for 2023. :)</p>
          <moving-text [words]="gratitude"></moving-text>
        </div>
      </div>

      <div class="right_component_buttons">
        <button
          (click)="summarize(true)"
          [ngClass]="
            summary
              ? 'right_component_buttons_active'
              : 'right_component_buttons_inactive'
          "
        >
          <mat-icon>unfold_less</mat-icon>
          shorter version
        </button>
        <button
          (click)="summarize(false)"
          [ngClass]="
            !summary
              ? 'right_component_buttons_active'
              : 'right_component_buttons_inactive'
          "
        >
          <mat-icon>unfold_more</mat-icon>
          longer version
        </button>
      </div>
    </div>
  </div>
  <div #contact class="main_content one_col contact">
    <contact></contact>
  </div>

  <div [ngClass]="'section-header'">
    <p *ngFor="let i of [0, 1, 2, 3, 4, 5, 6]">Education</p>
  </div>
  <div #education id="education">
    <education></education>
  </div>

  <div #normalHeader [ngClass]="'section-header'">
    <p *ngFor="let i of [0, 1, 2, 3, 4, 5, 6]">Experience</p>
  </div>
  <div
    #experience
    id="experience"
    class="main_content one_col main_content_left_mini"
  >
    <experience-card
      *ngFor="let experience of experiences; let index = index"
      [index]="index"
      [experience]="experience"
    ></experience-card>
  </div>

  <div [ngClass]="'section-header'">
    <p *ngFor="let i of [0, 1, 2, 3, 4, 5, 6]">Projects</p>
  </div>

  <div #filter id="projects" class="section-header section-filter">
    <div class="title">
      <h2
        (click)="team = false; selectTeam()"
        [ngClass]="!team ? 'selected' : 'unselected'"
      >
        Solo Projects
      </h2>
      <h2>&nbsp;/&nbsp;</h2>
      <h2
        (click)="team = true; selectTeam()"
        [ngClass]="team ? 'selected' : 'unselected'"
      >
        Team Projects
      </h2>
    </div>
    <div class="filter">
      <div class="filter_select">
        <div
          class="filter_select_button"
          (click)="langSelect = !langSelect; catSelect = false"
        >
          <span>{{ selectedLanguage }}</span>
          <mat-icon>{{
            langSelect ? "keyboard_arrow_up" : "keyboard_arrow_down"
          }}</mat-icon>
        </div>
        <div
          [ngClass]="
            langSelect ? 'filter_option' : 'filter_option filter_hidden'
          "
        >
          <div *ngFor="let i of languages" (click)="selectOption(0, i)">
            {{ i }}
          </div>
        </div>
      </div>
      <div class="filter_select no_select">
        <div
          class="filter_select_button"
          (click)="catSelect = !catSelect; langSelect = false"
        >
          <span>{{ selectedCategory }}</span>
          <mat-icon>{{
            catSelect ? "keyboard_arrow_up" : "keyboard_arrow_down"
          }}</mat-icon>
        </div>
        <div
          [ngClass]="
            catSelect ? 'filter_option' : ' filter_option filter_hidden'
          "
        >
          <div *ngFor="let i of categories" (click)="selectOption(1, i)">
            {{ i }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    #projectElement
    class="main_content one_col main_content_right_mini projects"
  >
    <project-card
      *ngFor="let project of projects"
      [project]="project"
    ></project-card>
  </div>
  <div #awards [ngClass]="'section-header'">
    <p *ngFor="let i of [0, 1, 2, 3, 4, 5, 6]">Awards</p>
  </div>
  <div
    id="awards"
    class="main_content one_col projects main_content_left_mini awards"
  >
    <awards-card
      *ngFor="let i of [].constructor(4); let idx = index"
      [year]="2023 - idx"
    ></awards-card>
  </div>
</div>
<router-outlet></router-outlet>
