<div class="parent">
  <div (click)="expandSideNav()" [ngClass]="!expanded?'menu-button':'menu-button menu-button_clicked'">
     <mat-icon class="mat-icon">{{!expanded?'chevron_right':'close'}}</mat-icon>
     <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->
     <!-- <mat-icon *ngIf="expanded" aria-hidden="false" aria-label="close nav" fontIcon="close"></mat-icon>
     <mat-icon *ngIf="!expanded" aria-hidden="false" aria-label="open nav" fontIcon="arrow_forward"></mat-icon> -->
  </div>
 
  <div [ngClass]="!expanded?'side_nav':'side_nav side_nav_expanded'">
    <div class="active"> <span>Who?</span> </div>
     <div> <span>Education</span></div>
     <div><span>Experience (Past Internships)</span></div> 
      <div><span>Projects & Teamwork</span></div>
      <div><span>Achievements, Awards & misc.</span></div>
  </div>
  <div class="main_content">
    <!-- right side of the page -->
    <div class="image_component">
      <div class="image"> <img  src="{{images[currentImage]}}"/></div>
      <div class="round_indicators">
        <span *ngFor="let item of images; let i=index;" > 
          <div [ngClass]="currentImage==i?'active':''"></div>
        </span>
      </div>
    </div>
    <div class="right_component">
      <div class="first_header_container"><h2>heading goes here</h2><div></div></div>
      <div class="first_header_spinner">
        <img src="../assets/images/fullStack.svg"/>
        <img src="../assets/images/githubCampusExpert.svg"/>
        <img src="../assets/images/techClubPresident.svg"/>
      </div>
      <div class="right_component_content">
        <span>titles1 | title2 | title3</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a
          liqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis 
          aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
          cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
