@import "./shared/styles/globals.scss";
@import "./shared/styles/type";

// $selected: #EF8354;
$months: 44; // from august 2020 to april 2024
$monthsRemaining: 12;

// $percentage: calc(($monthsRemaining * 100%)/$months);
::ng-deep * {
  margin: 0;
  padding: 0;
}
.side_nav {
  position: fixed;
  width: 10vw;
  height: 88.89vh;
  padding-top: 11.11vh;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-top: 0px;
  overflow: hidden;
  backdrop-filter: invert(10%);
  transition: backdrop-filter 2s;
  transition: width 1s;
  @include tablet-down {
    // width: 20vw;
    // height: 89.9vh;
    // padding-top: 10vh;
    padding-top: 8.33vh;
    height: 91.67%;
  }
  div {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border: 0.5px solid transparent;
    transition: border 0.5s;
    span {
      transform: rotate(-90deg);
      text-align: center;
      // text-transform: uppercase;
      @include fontSize($sm);
      @include tablet-down {
        @include fontSize($xsm);
      }
      transition: background-color 1s;
      transition: font-size 0.5s;
      transition: transform 1s;
      
    }
    &:hover {
      background-color: rgb(165 255 108 / 13%);
      cursor: pointer;
      backdrop-filter: invert(10%);
      span {
        transform: rotate(0deg);
        color: $selected;
        @include fontSize($md);
        @include tablet-down {
          transform: rotate(-90deg);
          @include fontSize($sm);
        }
      }
    }
  }
  .active {
    // border: 0.5px solid $selected;
    background-color: #ff6c6c21;
    span {
      color: $selected;
      @include fontSize($md);
      transform: rotate(0deg);
      @include tablet-down {
        transform: rotate(-90deg);
        @include fontSize($sm);
      }
    }
  }
  &_expanded {
    width: 50vw;
    backdrop-filter: blur(15px);
    @include tablet-down {
      width: 80vw;
    }
    div {
      span {
        transform: rotate(0deg);
        @include fontSize($md);
        transition: font-size 0.5s;
      }
      &:hover {
        border: 0.5px transparent;
        border-bottom: 0.5px solid $primary;

        span {
          @include fontSize($lg);
        }
      }
    }
    .active {
      border-color: transparent;
      border-bottom: 0.5px solid $selected;
      span {
        transform: unset;
        color: $selected;
        @include fontSize($lg);
      }
    }
  }
}
.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 80px;
  transition: backdrop-filter 2s;
  transition: width 1s;
  position: fixed;
  z-index: 5;
  @include tablet-down{
    width: 10vw;
    height: 60px;
  }
  .mat-icon {
    @include medium_icon();
    color: rgb(255, 255, 255);
    @include tablet-down{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &_clicked {
    width: 80vw;
  }
  &:hover{
    cursor: pointer;
    mat-icon{
      color: $selected;
    }
  }
  @include tablet-up {
    width: 10vw;
    .mat-icon {
      // @include fontSize($md);
      @include medium_icon();
    }
    &_clicked {
      width: 50vw;
      @include fontSize($lg);
    }
  }
}
.main_content {
  @include two_grid;
  display: grid;
  height: 95%;
  padding-left: 13vw;
  padding-right: 3vw;
  padding-top: 5%;
  @include desktop-down {
    // width: 80vw;
    // display: initial;
    display: block;
    // padding: unset;
  }
  &_left {
    background: radial-gradient(
        circle farthest-corner at top left,
        rgba(207, 18, 18, 0.3019607843) 0,
        transparent 26%
      ),
      radial-gradient(
        circle farthest-corner at 0 30%,
        rgba(116, 255, 51, 0.315) 0%,
        transparent 26%
      ),
      radial-gradient(
        circle at 0% 50%,
        rgba(25, 255, 232, 0.431372549) 0%,
        transparent 25%
      ),
      rgb(8, 12, 31);
  }
  &_left_mini {
    background: radial-gradient(
        circle farthest-corner at 20% 50%,
        rgba(207, 18, 18, 0.3019607843) 0,
        transparent 23%
      ),
      radial-gradient(
        circle farthest-corner at 17% 61%,
        rgba(116, 255, 51, 0.315) 0%,
        transparent 18%
      ),
      radial-gradient(
        circle at 4% 50%,
        rgba(25, 255, 232, 0.431372549) 0%,
        transparent 20%
      ),
      rgb(8, 12, 31);
  }
  &_right_mini {
    background: radial-gradient(
        circle farthest-corner at 88% 50%,
        rgba(207, 18, 18, 0.3019607843) 0,
        transparent 23%
      ),
      radial-gradient(
        circle farthest-corner at 75% 61%,
        rgba(116, 255, 51, 0.315) 0%,
        transparent 18%
      ),
      radial-gradient(
        circle at 97% 50%,
        rgba(25, 255, 232, 0.431372549) 0%,
        transparent 20%
      ),
      rgb(8, 12, 31);
  }
}
.image_component {
  // border-radius: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include desktop-down {
    height: auto;
    width: 90%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 5%;
  }
  .image {
    height: 70vh;
    width: 100%;
    border-radius: 3vw 0vw 0 3vw;
    overflow: hidden;
    background-color: $line;
    @include desktop-down {
      height: 25vh;
      border-radius: 25vh;
      width: 65vw;
    }
    div {
      height: inherit;
      margin-left: -25%;
      background-size: cover;
      @include desktop-down {
        height: inherit;
        width: inherit;
        margin-left: 0%;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}
.round_indicators {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20%;
  @include desktop-down {
    padding: 10px;
  }

  div {
    background-color: $primary;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    @include desktop-down{
      height: 10px;
      width: 10px;
    }
    @include tablet-down {
      height: 5px;
      width: 5px;
    }
   
  }
  .active {
    background-color: $selected;
    height: 20px;
    width: 20px;
    @include tablet-down {
      height: 10px;
      width: 10px;
    }
  }
}
.first_header {
  &_container {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    h2 {
      @include fontSize($xlg);
      min-width: fit-content;
      margin-right: 10px;
    }
    div {
      background: $primary;
      height: 2px;
      width: inherit;
    }
  }
  &_spinner {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    img {
      height: 20vh;
      @include tablet-down {
        height: 11vh;
      }
    }
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.right_component {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  padding: 0 5% 0% 5%;
  &_full {
    width: inherit;
  }
  &_two_col {
    @include two_grid;
  }

  @include tablet-up {
    padding: unset;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    justify-content: space-around;
  }

  &_content {
    height: inherit;
    &_intro {
      display: flex;
      row-gap: 20px;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 10%;
    }

    span {
      opacity: 0.7;
      @include fontSize($xsm);
    }
    p {
      //   font-size: 25px;
      @include fontSize($sm);
      transition: display 2s;
      transition-delay: 1s;
      a {
        text-decoration: none;
        color: #c7deed;
      }
    }
  }
  &_buttons {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    button {
      width: 45%;
      height: 8vh;
      background: transparent;
      display: flex;
      justify-content: space-around;
      padding: 0 10%;
      align-items: center;
      background: transparent;
      // @include fontSize($sm);
      // color: $selected;
      // font-size: 25px;
     
      .mat-icon {
        @include small_icon();
      }
      &:hover {
        cursor: pointer;
      }
      @include phone-only{

        padding: unset;
        .mat-icon{
          height: 15px;
          width: 15px;
          font-size: 15px;
        }
      }
    }
    &_inactive {
      @include fontSize($sm);
      color: $primary;
      border: 1px solid $secondary;
      border-bottom: 1px solid $primary;
      transition: border 0.5s;
      &:hover {
        border: 1px solid $primary;
      }
    }
    &_active {
      @include fontSize($sm);
      border: 1px solid $secondary;
      color: $selected;
      border-bottom: 1px solid $selected;
      &:hover {
        border: 1px solid $selected;
      }
    }
  }
}
.parent {
  // height: 100vh;
  background-color: transparent;
  // background: radial-gradient(
  //     circle farthest-corner at top left,
  //     rgba(207, 18, 18, 0.3019607843) 0,
  //     transparent 26vw
  //   ),
  //   radial-gradient(
  //     circle farthest-corner at 0 30vw,
  //     rgba(116, 255, 51, 0.315) 0%,
  //     transparent 26vw
  //   ),
  //   radial-gradient(
  //     circle at 0% 50vw,
  //     rgba(25, 255, 232, 0.431372549) 0%,
  //     transparent 25vw
  //   ),
  //   $secondary;
}
.hidden_text {
  transition: display 2s;
  // visibility: hidden;
  transition: visibility 2s;
  transition-delay: 2s;
  visibility: hidden;
  display: none;
}
.visible_text {
  transition: display 2s;
  transition: visibility 2s;
  transition-delay: 2s;
  visibility: visible;
  // visibility: visible;
  display: block;
  p{
    @include fontSize($sm)
  }
}

.spin_image {
  img {
    animation-name: spin;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
}

.one_col {
  grid-template-columns: auto;
}

.page_header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  h2 {
    @include fontSize($xlg);
  }
  .mat-icon {
    font-size: 100px;
    height: 100px;
    width: 100px;
    transform: rotate(-90deg);
    color: $primary;
  }
}
.section{
 
  &-header {
  width: 83vw;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 13vw;
  color: $primary;
  @include fontSize($sm);
  // position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  top: 15px;
  justify-content: space-between;
  border-bottom: 1px solid $line;
  border-top: 1px solid $line;
  p {
    @include fontSize($md);
    color: $line;
    text-transform: uppercase;
  }
  @include tablet-down{
    height: 30px;
    p{
      @include fontSize($xsm);
    }
  }
  @include desktop-down{
    p:nth-child(n+5){
      // font-size: 10px;
        display: none;
      }
  }
  @include phone-only{
    p:nth-child(n+4){
      // font-size: 10px;
        display: none;
      }
    
  }
}
&-filter{
  border-top: 0;
  height: auto;
  margin-top: 6%;
  .selected{
    color: $primary;
  }
  .unselected{
    color: $line;
  }
  .title{
    display: flex;
    align-items: center;
    &:hover{
      cursor: pointer;
    }
  }
  h2{
    @include fontSize($xlg);
    @include tablet-down{
      @include fontSize($lg)
    }
  }
  @include phone-only{
    flex-direction: column;
    align-items: flex-start;
  }
  .filter{
    display: flex;
    width: 30%;
    justify-content: space-between;
    @include tablet-down{
      width: 35%;}
      @include phone-only{
      justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin: 20px 0;
    }
   
    &_select{
      width: 11vw;
      @include tablet-down{
        width: auto;
      }
      &_button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include fontSize($sm);
        color: $line;
        @include tablet-down{
          .mat-icon{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
          }
        }
        &:hover{
          cursor: pointer;
        }
      }
    }
    
    &_option{
      transition: height 2s;
    position: absolute;
    width: 11vw;
    // height: 1px;
    height: auto;
    overflow: hidden;
    backdrop-filter: blur(10px);
    z-index: 2;
    margin-top: 20px;
    border: 1px solid $line;
    @include tablet-down{
      width: 15vw;
    }
    &:nth-child(2){
      @include tablet-down{
        margin-left: -18vw;
        width: 30vw;
      }
      @include phone-only{
        margin-left: unset;
      }
    }
    div{
      height: 50px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include fontSize($sm);
      &:hover{
        cursor: pointer;
        background-color: #ff848460;
      }
    }
  }
  &_hidden{    
    overflow: hidden;
    height: 0px;
    display: none;
    transition: height 2s;
    }
}
}
}
.sticky {
  position: fixed;
  z-index: 3;
  backdrop-filter: blur(10px);
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid $primary;
  border-top: 1px solid $primary;
  p{
    color: $primary;
  }
  
}

.projects{
  grid-template-columns: auto auto auto;
  grid-column-gap: 3vh;
  row-gap: 3vh;
  min-height: 66vh;
  margin-bottom: 6%;
  @include desktop-down{
    display: grid;
    grid-template-columns: auto auto;
  }
  @include tablet-down{
    display: grid;
    grid-template-columns: auto auto;
  }
  @include phone-only{
    display: grid;
    grid-template-columns: auto;
  }
}
.contact{
  padding-top: 0;
}
.who{
  @include desktop-down{
    padding-top: 50px;
  }
}
.invisible{
  visibility: hidden;
}


