<div  class="right_component right_component_full right_component_two_col experience_card">
    <div class="spin_image experience_card_image_container">
      <a href="https://www.instrument.com/"  class="experience_card_image_container_title">
        
        <h2>Sustainible</h2>
        <mat-icon class="mat-icon">arrow_outward</mat-icon>
      
      </a>
      <img src="../assets/images/fullStack.svg" />
      <div class="experience_card_image_container_text">
        <h2 class="experience_card_image_container_text_h2">01</h2>
      </div>
    </div>
    <div class="experience_card_text_container">
      <div class="justify_start">
        <div class="eyebrow">
          <mat-icon class="mat-icon">date_range</mat-icon
          ><span>June - August 2022 </span>
        </div>
        <!-- <span> | </span> -->
        <div class="eyebrow">
          <mat-icon class="mat-icon">pin_drop</mat-icon><span>Remote</span>
        </div>
      </div>
      <div class="text_with_title">
        <h2>Development Intern</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
          dolor laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
          in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      
    </div>
  </div>
