@import "../../../shared/styles/globals.scss";
@import "../../../shared/styles/button.scss";
$gold: #c9c9c9f3;
.card {
  
 &__background{
  position: absolute;
  height: 0%;
  width: 100%;
  z-index: 0;
  backdrop-filter: invert(100%);
  transition: height 1.2s;
  bottom: 0;
 }
&__foreground{
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
  &__top {
    text-decoration: none;
    @include button($md);
    font-weight: bold;
    @include phone-only{
      padding: 10px 0;
    }
  }
  &__parent {
    aspect-ratio: 7.7/8;
    border: 1px solid $line;
    transform: background-color 1s;
    border-left: 1px transparent;
    border-right: 1px transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    @include desktop-down{
      aspect-ratio: 3/3.5;
    }
    @include tablet-down{
      aspect-ratio: 3/4;
    }
    @include phone-only{
      aspect-ratio: 3/2.5;
      // height: 30vh;
    }
    &:hover{
      // border: 1px solid $line;
      // cursor:;
      .card{
        &__top{
          color: $selected;
        }
        &_category{
          backdrop-filter: invert(0%);
          // color: $secondary;
          border: 1px solid transparent;
        }
        &__details{
          color: $secondary;
        }
        &__background{
        height: 82%;
          }
        }
    }
  }
  &__details {
    @include fontSize($sm);
    padding: 30px;
    transition: color 2s;
    @include phone-only{
      padding: 10px 5px;
    }
    &_langs{
      padding: 30px;
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-row-gap: 10px;
      @include phone-only{
        padding: 10px 5px;
      }
      // justify-content: space-between;
      &_container{
        display: grid;
        grid-template-columns: 25px auto;
        align-items: center;
        .circle{
          height: 10px;
          width: 10px;
          border-radius: 10px;
        }
        p{
          @include body-extra-small();
          color: $line;
        }
      }
    }
  }
  &_category{
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: invert(100%);
    @include fontSize($sm);
    color: $secondary;
    text-transform: uppercase;
    transition: backdrop-filter 2s;
    @include tablet-down{
      height: 10vw
    }
  }
}
// child one 
// position: absolute;
// /* height: 98vh; */
// right: 0;
// top: 10%;
.members{
  padding: 0  30px; 
  text-decoration: none;
  a{
    text-decoration: none;
  }
}