// @import '../../app.component.scss';

$phone: 600px;
$tablet: 900px;
$large: 1200px;
$extra_large: 1800px;

$xsm: "extra_small";
$sm:"small";
$md:"med";
$lg: "large";
$xlg: "extra_large";

$primary: white;
$secondary: rgb(8 12 31);

@mixin phone-only {
  @media (max-width: $phone) {
    @content;
  }
}
@mixin phone-up {
  @media (min-width: $phone) {
    @content;
  }
}
@mixin tablet-up {
  @media (min-width: $tablet) {
    @content;
  }
}
@mixin tablet-down {
  @media (max-width: $tablet) {
    @content;
  }
}
@mixin desktop-up {
  @media (min-width: $large) {
    @content;
  }
}
@mixin large-screen {
  @media (min-width: $extra_large) {
    @content;
  }
}
@mixin fontSize($size: $sm) {
    color: $primary;
    @if $size== $xsm{
      font-size: 1vw;
    }
    @if $size == $sm {
      font-size: 1.2vw;
    }
  @if $size == $md {
    font-size: 1.4vw;
  }
  @if $size == $lg {
    font-size: 1.8vw;
  }
  @if $size == $xlg {
    font-size: 3.1vw;
  }
}
@mixin centerFlex{
  text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
}
@mixin two_grid{
  display: grid;
  grid-template-columns: 30% 70%;
}
@mixin no_select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}