// @import '../../app.component.scss';
@import "../styles/type";

$phone: 600px;
$tablet: 900px;
$large: 1200px;
$extra_large: 1800px;

$xsm: "extra_small";
$sm: "small";
$md: "med";
$lg: "large";
$xlg: "extra_large";

// CSS Custom Properties for theming (set defaults)
:root {
  --color-primary: #fff9eb;
  --color-secondary: #12110c;
  --color-line: #32302a;
  --color-selected: #9ED0E6;
  --color-hover: #fff9eb;
  --color-svg-fill: #32302a;
  --color-svg-stroke: #32302a;
}

// Legacy SCSS variables (for backwards compatibility in mixins)
$primary: var(--color-primary);
$secondary: var(--color-secondary);
$line: var(--color-line);
$selected: var(--color-selected);
$hover: var(--color-hover);

@mixin phone-only {
  @media (max-width: $phone) {
    @content;
  }
}
@mixin phone-up {
  @media (min-width: $phone) {
    @content;
  }
}
@mixin tablet-up {
  @media (min-width: $tablet) {
    @content;
  }
}
@mixin tablet-down {
  @media (max-width: $tablet) {
    @content;
  }
}
@mixin desktop-down {
  @media (max-width: $large) {
    @content;
  }
}
@mixin desktop-up {
  @media (min-width: $large) {
    @content;
  }
}
@mixin large-screen {
  @media (min-width: $extra_large) {
    @content;
  }
}
@mixin fontSize($size: $sm) {
  color: var(--color-primary);
  @if $size== $xsm {
    @include body-small();
  }
  @if $size == $sm {
    @include body-small();
  }
  @if $size == $md {
    @include body-regular();
  }
  @if $size == $lg {
    @include body-large-bold();
  }
  @if $size == $xlg {
    @include headline-bold();
  }
}
@mixin centerFlex {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin two_grid {
  display: grid;
  grid-template-columns: 30% 70%;
}
@mixin no_select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
@mixin x_small_icon {
  height: 20px;
  width: 20px;
  font-size: 20px;
  @include tablet-down {
    height: 16px;
    width: 16px;
    font-size: 16px;
  }
  @include phone-only {
    height: 13px;
    width: 13px;
    font-size: 13px;
  }
}
@mixin small_icon {
  height: 25px;
  width: 25px;
  font-size: 25px;
  @include tablet-down {
    height: 18px;
    width: 18px;
    font-size: 18px;
  }
  @include phone-only {
    height: 15px;
    width: 15px;
    font-size: 15px;
  }
}
@mixin medium_icon {
  height: 25px;
  width: 25px;
  font-size: 25px;
  @include tablet-down {
    height: 23px;
    width: 23px;
    font-size: 23px;
  }
  @include phone-only {
    height: 20px;
    width: 20px;
    font-size: 20px;
  }
}
