@import "../../../shared/styles/globals.scss";
@import "../../../app.component.scss";

.contact {
  &_container {
    display: flex;
    justify-content: space-between;

    &_item {
      text-decoration: none;
      width: 15%;
      text-align: center;
      color: $primary;
      height: 12vh;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      transition: color 1s;
      div {
       
        @include fontSize($xsm);
        opacity: 0.5;
        color: $primary;
        transition: opacity 1s;
        @include tablet-down {
          opacity: 1;
          color: $secondary;
        }
      }
      svg {
        opacity: 0.5;
        fill: $primary;
        height: 45px;
        width: 45px;
        transition: opacity 1s;
        @include tablet-down{
            height: 30px;
        width: 30px;
        }
        @include phone-only {
          height: 20px;
          width: 20px;
        }
        
      }
      &:hover { 
        cursor: none;
        div{
          opacity: 1;
        }
        svg {
           opacity: 1;
        }
      }
    }
    @include phone-only {
      display: grid;
      grid-template-columns: 40% 40%;
      grid-row-gap: 20px;
      &_item {
        width: 100%;
        @include fontSize($xsm)
      }
    }
  }
}
