<div class="contact_list">
  <a href="https://github.com/leonkoech" target="_blank" rel="noopener noreferrer" class="contact_link">
    <span class="contact_link__label">GitHub</span>
    <span class="contact_link__handle">/leonkoech</span>
    <mat-icon class="contact_link__arrow">arrow_outward</mat-icon>
  </a>

  <a href="mailto:leonkipkoech00@gmail.com" class="contact_link">
    <span class="contact_link__label">Email</span>
    <span class="contact_link__handle">leonkipkoech00@gmail.com</span>
    <mat-icon class="contact_link__arrow">arrow_outward</mat-icon>
  </a>

  <a href="https://stackoverflow.com/users/10801636/leon-kipkoech" target="_blank" rel="noopener noreferrer" class="contact_link">
    <span class="contact_link__label">Stack Overflow</span>
    <span class="contact_link__handle">/leon-kipkoech</span>
    <mat-icon class="contact_link__arrow">arrow_outward</mat-icon>
  </a>

  <a href="https://www.linkedin.com/in/leonkoech/" target="_blank" rel="noopener noreferrer" class="contact_link">
    <span class="contact_link__label">LinkedIn</span>
    <span class="contact_link__handle">/leonkoech</span>
    <mat-icon class="contact_link__arrow">arrow_outward</mat-icon>
  </a>

  <a href="https://devpost.com/leonkipkoech00" target="_blank" rel="noopener noreferrer" class="contact_link">
    <span class="contact_link__label">Devpost</span>
    <span class="contact_link__handle">/leonkipkoech00</span>
    <mat-icon class="contact_link__arrow">arrow_outward</mat-icon>
  </a>
</div>
