.card_1{
    position: absolute;
    /* height: 98vh; */
    right: 0;
    top: 3%;
}
.card_2{
    position: absolute;
    top: 20vh;
    right: 37vw;
}
.card_3{
    position: absolute;
    /* left: -10%; */
    bottom: 10%;
}