
<div class="main_content one_col education main_content_right_mini">
    <h2>Florida National University</h2>
    <div class="eyebrow">
      <mat-icon class="mat-icon">pin_drop</mat-icon><span>Miami, Florida, USA</span><div></div>
      <mat-icon class="mat-icon">date_range</mat-icon><span>Aug 2020 - Dec 2024</span>
    </div>
    <div class="education_slider_container">
      <span>2020</span>
      <div class="education_slider_container_slider">
        <div class="education_slider_container_slider_line"></div>
        <div class="education_slider_container_slider_pointer">
          <mat-icon class="mat-icon">school</mat-icon>
        </div>
      </div>
      <span>2024</span>
    </div>
    <div class="education_information">
      <div class="education_information_container education_information_container_major">
          <div>Major</div>
          <div>
            <p>Bachelor of Science</p>
            <p>Information Technology</p>
            <br><br>
            <p>Concentration: Software Engineering</p>
          </div>
      </div>
      <div class="education_information_container education_information_container_cocurricular">
            <div>
              <span>Leadership</span>
              <span>Community</span>
              <span>athletics</span>
            </div>
            <div>
              <ol>
                <li>Student Government Association, officer</li>
                <li>FNU tech club, president</li>
              </ol>
              <ol>
                <li>Github Campus Expert</li>
                <li>National Society of Leadership and Success, member</li>
                <li>National Society of Black Engineers, member</li>
                <li>Institute of Electrical and Electronics Engineers, member</li>
              </ol>
              <ol>
                <li>Cross Country</li>
                <li>Track and Field</li>
              </ol>
            </div>
      </div>
    </div>
</div>
